@{
    ViewData["Title"] = "Home Page";
}



<div class="row pt-4"  >
    <div class="col-12">
        <div class="form-group row">
            <div class="col-8">
                <br /><br />
                <img src="~/lib/group.png" />
                </div>
          
            <div class="col-4">
                <p style="text-align:left">
                    <b style="color:white">
                        Monsters, Inc. (Brasil: Monstros S.A. /Portugal: Monstros e Companhia) é um filme de animação e comédia americana de 2001 produzido pela Pixar Animation Studios
                        e distribuído pela Walt Disney Pictures. O filme foi dirigido por Pete Docter em sua estreia na direção e foi produzido por John Lasseter e Andrew Stanton. O filme é centrado em dois monstros - James P. "Sulley" Sullivan e seu parceiro caolho e melhor amigo Mike Wazowski - empregados na fábrica líder de produção de energia Monsters, Inc, que gera energia assustando crianças humanas. No entanto, o mundo dos monstros acredita que as crianças são tóxicas e, quando uma delas entra
                        na fábrica, Sulley e Mike devem devolvê-la para casa antes que seja tarde demais.
                    </b> 
                  </p>
            </div>
        </div>
    </div>
    </div>
